<template>
  <div class="contact">
    <h1>This is a contact page</h1>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>

        <b-form-select v-model="selected" class="mb-3">
          <b-form-select-option :value="null">Please select an option</b-form-select-option>
          <b-form-select-option value="a">Option A</b-form-select-option>
          <b-form-select-option value="b" disabled>Option B (disabled)</b-form-select-option>
          <b-form-select-option-group label="Grouped options">
            <b-form-select-option :value="{ C: '3PO' }">Option with object value</b-form-select-option>
            <b-form-select-option :value="{ R: '2D2' }">Another option with object value</b-form-select-option>
          </b-form-select-option-group>
        </b-form-select>
        <div class="mt-2">
          Selected:
          <strong>{{ selected }}</strong>
        </div>
      </b-form-group>
      <b-form-group label="Individual radios">
        <b-form-radio v-model="radioSelected" name="some-radios" value="A">Option A</b-form-radio>
        <b-form-radio v-model="radioSelected" name="some-radios" value="B">Option B</b-form-radio>
      </b-form-group>

      <div class="mt-3">
        Selected:
        <strong>{{ radioSelected }}</strong>
      </div>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: ""
      },
      selected: null,
      radioSelected: null
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
    }
  }
};
</script>