<template>
  <div class="about">
    <h1>This is a gallery page</h1>
    <router-link
      :to="{ name: 'Gallery', params: {id : item}}"
      v-for="(item, index) of fotos"
      :key="index"
    >
      <button>foto {{item}}</button>
    </router-link>
    <Foto />
  </div>
</template>

<script>
import Foto from "@/components/Foto.vue";

export default {
  name: "Gallery",
  components: {
    Foto
  },
  data() {
    return {
      fotos: [1, 2, 3]
    };
  }
};
</script>