<template>
  <div class="home">
    <b-row>
      <b-col>
        <b-card
          title="Card Home"
          img-src="../assets/logo.png"
          img-alt="Vue.JS"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</b-card-text>

          <b-button to="/about" variant="primary">Go About</b-button>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>
