<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Comunicación entre componentes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-6">
                    <padre></padre>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript">

        Vue.component('hijo', {
            template: `
            <div class="py-5 bg-success">
                <h3>Componente hijo {{numero}}</h3>
                <h4>Nombre: {{nombre}}</h4>
            </div>
            `,
            props: ['numero'],
            data() {
                return {
                    nombre: 'Xan'
                }
            },
            mounted() {
                this.$emit('nombreHijo', this.nombre);
            }
        });

        Vue.component('padre', {
            template: `
            <div class="p-5 bg-dark text-white">
                <h2>Componente padre: {{numeroPadre}}</h2>
                <button class="btn btn-danger" @click="numeroPadre++">+</button>
                {{nombrePadre}}
                <hijo :numero="numeroPadre" @nombreHijo="nombrePadre = $event"></hijo>
            </div>
            `,
            data() {
                return {
                    numeroPadre: 0,
                    nombrePadre: ''
                }
            }
        });

        new Vue({
            el: '#app',
            data: {
            },
        });
    </script>
</body>

</html>