<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Vuex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <titulo></titulo>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script>

    <script type="text/javascript">

        Vue.component('titulo', {
            template:
                `
            <div>
                <h1>numero {{numero}}</h1>
                <hijo></hijo>
            </div>
            `,
            computed: {
                ...Vuex.mapState(['numero'])
            }
        });

        Vue.component('hijo', {
            template:
                `
            <div>
                <button @click="aumentar">+</button>
                <button @click="disminuir">-</button>
                <button @click="obtenerCursos">Obtener cursos</button>
                <h2>numero {{numero}}</h2>
                <ul v-for="item of cursos">
                    <li>{{item.nombre}}</li>
                </ul>
            </div>
            `,
            computed: {
                ...Vuex.mapState(['numero', 'cursos'])
            },
            methods:{
                ...Vuex.mapMutations(['aumentar', 'disminuir']),
                ...Vuex.mapActions(['obtenerCursos'])
            }
        });

        const store = new Vuex.Store({
            state: {
                numero: 10,
                cursos: []
            },
            mutations: {
                aumentar() {
                    this.state.numero++;
                },
                disminuir() {
                    this.state.numero--;
                },
                llenarCursos(state, cursosAccion){
                    state.cursos = cursosAccion;
                }
            },
            actions: {
                obtenerCursos: async function({commit}){
                    const data = await fetch('cursos.json');
                    const cursos = await data.json();
                    commit('llenarCursos', cursos);
                }
            }
        });

        new Vue({
            el: '#app',
            store
        });
    </script>
</body>

</html>