<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue.js - Ajax</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div id="main" class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Lista VUEjs - AJAX</h1>
                    <ul class="list-group">
                        <li v-for="item in lists" class="list-group-item">
                            {{ item.name.first }} {{ item.name.last }}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h1>JSON</h1>
                    <pre>
                        {{ $data }}
                    </pre>
                </div>
            </div>
        </div>

      
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>

        <script type="text/javascript">
        var urlUsers = 'https://randomuser.me/api/?results=50';
        new Vue({
            el: '#main',
            created: function() {
                this.getUsers();
            },
            data: {
                lists: []
            },
            methods: {
                getUsers: function() {
                    this.$http.get(urlUsers).then(function(response){
                        this.lists = response.data.results;
                    });
                }
            }
        });
        </script>
    </body>
</html>