<div id="app">
    <input type="text" v-model="name">
    <p>{{ name }}</p>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            name: 'Xan'
        }
    });
</script>

