<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js - Componentes</title>
    </head>
    <body>
        <div id="app">
            <form @submit.prevent="submit" action="" method="get">
                <h2>¿Cuáles son tus favoritos?</h2>
                <template v-for="curso in cursos">
                    <curso :curso="curso" v-on:checked="selectCurso"></curso>
                </template>

                <button>Enviar</button>
            </form>
        </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">
            Vue.component('curso', {
                props: [ 'curso' ],
                methods: {
                    onchange: function (evento) {
                        this.$emit('checked', this.curso.value, evento.target.checked)
                    }
                },
                template: `
                    <div>
                        <input type="checkbox" :id="curso.value" :value="curso.value" @change="onchange" /> 
                        <label :for="curso.value">{{ curso.nombre }}</label>
                    </div>
                `
            })

            let app = new Vue({
                el: '#app',
                data: {
                    cursos: [
                        { nombre: 'Vue.js', value: 'vue'},
                        { nombre: 'React.js', value: 'react'},
                        { nombre: 'Angular.js', value: 'angular'}
                    ],
                    cursosSeleccionados: []
                },
                methods: {
                    submit: function () {
                        console.log('Se ejecuta el método submit')
                        console.log(this.cursosSeleccionados)
                    },
                    selectCurso: function (curso, checked) {
                        if (checked) {
                            this.cursosSeleccionados.push(curso)
                        }else{
                            let index = this.cursosSeleccionados.indexOf(curso)
                            this.cursosSeleccionados.splice(index, 1)
                        }
                    }
                }
            })
        </script>
    </body>
</html>