<div id="app">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <button v-on:click="secondCounter--">Increase Second</button>
    <p>Counter {{ counter }} | {{ secondCounter }}</p>
    <p>Result {{ result() }} | {{ output }} </p>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            secondCounter: 0
        },
        computed: {
            output: function() {
                console.log('Computed')
                return this.counter > 5 ? 'Greater 5': 'Smaller than 5'
            }
        }
        methods: {
            result: function() {
                console.log('Method')
                return this.counter > 5 ? 'Greater 5': 'Smaller than 5'
            }
        }
    });
</script>

