<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js - Control de Eventos</title>
    </head>
    <body>
        <div id="app">
            El contador está en {{ contador }}
            <br />
            <button @click="contador--">Restar 1</button>
            <button @click="sumar">Sumar 1</button>
        </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    contador: 0
                },
                methods: {
                    sumar: function () {
                        this.contador++
                    }
                }
            })
        </script>
    </body>
</html>