<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js - Formularios</title>
    </head>
    <body>
        <div id="app">
            <form @submit.prevent="submit" action="" method="get">
                <h2>¿Cuáles son tus favoritos?</h2>
                <template v-for="curso in cursos">
                    <input type="checkbox" v-model="cursosSeleccionados" v-bind:id="curso.value" v-bind:value="curso.value" /> 
                    <label v-bind:for="curso.value">{{ curso.nombre }}</label>
                </template>

                <button>Enviar</button>
            </form>
        </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    cursos: [
                        { nombre: 'Vue.js', value: 'vue'},
                        { nombre: 'React.js', value: 'react'},
                        { nombre: 'Angular.js', value: 'angular'}
                    ],
                    cursosSeleccionados: []
                },
                methods: {
                    submit: function () {
                        console.log('Se ejecuta el método submit')
                        console.log(this.cursosSeleccionados)
                    }
                }
            })
        </script>
    </body>
</html>