<!DOCTYPE html>
<html>
    <head>
        <title>Vue.js - Filtros</title>
    </head>
    <body>
        <div id="app">
            <div>
                <h1>{{ titulo | uppercase }}</h1>
                <h2>{{ subtitulo | lowercase }}</h2>
            </div>
        </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    titulo: 'Estás en Vue',
                    subtitulo: 'Abre la consola y prueba!'
                },
                filters: {
                    uppercase: function (str) {
                        return str.toUpperCase()
                    },
                    lowercase: function (str) {
                        return str.toLowerCase()
                    }
                }
            })
        </script>
    </body>
</html>