<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue.js - Listas</title>
    </head>
    <body>
        <div id="main">
            <ul>
                <li v-for="item in people" v-text="item"></li>
            </ul>
            <input type="text" v-model="name" v-on:keyup.enter="addName">
        </div>

      
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script type="text/javascript">
        new Vue({
            el: '#main',
            data: {
                people: ['Ana', 'María', 'Juan', 'Isabel']
            },
            name: '',
            methods: {
                addName: function() {
                    this.people.push(this.name);
                    this.name = '';
                }
            }
        });
        </script>
    </body>
</html>