<script src="https://unpkg.com/vue"></script>



<script type="text/javascript">
    // definir un objeto mixin
    var myMixin = {
    created: function () {
        this.hello()
    },
    methods: {
        hello: function () {
            console.log('hola desde el mixin!')
        }
    }
    }

    // define a component that uses this mixin
    var Component = Vue.extend({
    mixins: [myMixin]
    })

    var component = new Component() // => "hola desde el mixin!"
</script>