<div id="app">
    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Agregar tarea</label>
            <input
            v-model="newTodoText"
            id="new-todo"
            placeholder="E.g. Feed the cat"
            >
            <button>Agregar</button>
        </form>
        <ul>
            <li
            is="todo-item"
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>
</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    Vue.component('todo-item', {
        template: '\
            <li>\
            {{ title }}\
            <button v-on:click="$emit(\'remove\')">Remove</button>\
            </li>\
        ',
        props: ['title']
    })

    new Vue({
    el: '#todo-list-example',
    data: {
        newTodoText: '',
        todos: [
        {
            id: 1,
            title: 'Tarea 1'
        },
        {
            id: 2,
            title: 'Tarea 2'
        },
        {
            id: 3,
            title: 'Tarea 3'
        }
        ],
        nextTodoId: 4
    },
    methods: {
        addNewTodo: function () {
        this.todos.push({
            id: this.nextTodoId++,
            title: this.newTodoText
        })
        this.newTodoText = ''
        }
    }
    })
</script>

